@model Sms.Entity.ViewModel.ChangePassword

<div id="breadcrumb">
    <a href="@Url.Action("Home", "Console")" title="首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
    <a href="javascript:void(0);" class="current">修改密码</a>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                @using (Ajax.BeginForm("ChangePassword", "Console", null, new AjaxOptions() { HttpMethod = "Post", OnBegin = "OnSubmiting", OnComplete = "AjaxCompelement" }, new { @class = "form-horizontal", id = "ChangePassword" }))
                {
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-pencil"></i>
                        </span>
                        <h5>修改密码</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="control-group">
                            <label class="control-label">旧密码</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.OldPwd)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">新密码</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.NewPwd)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">确认新密码</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.ConfirmNewPwd)
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="提交" class="btn btn-primary" />
                            <input type="reset" value="清空" class="btn" />
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
@section foot{
    <script>
        $(function () {
            var rules = {
                OldPwd: { required: true },
                NewPwd: { required: true, minlength: 6, maxlength: 15 },
                ConfirmNewPwd: { required: true, equalTo: "#NewPwd" }
            };
            basic_validate("ChangePassword", rules);
        });
    </script>
}
