<div id="breadcrumb">
    <a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>首页</a>
</div>


<div class="alert alert-info alert-block">
    <h4 class="alert-heading">Welcome!</h4>
    hey! - This Is Home Page
</div>
